version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      time: "18:00"
    groups:        # Groups all Python packages into a single group to reduce PR amount
      python-packages:
        patterns:
          - "*"